/*
* {
    border: 1px solid red;
}
*/


@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(./ArtAssets/fonts/montserrat.regular.woff) format('woff');
  }
  @font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(./ArtAssets/fonts/montserrat.bold.woff) format('woff');
  }
body {
    background-color: #f7f7ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: scroll;
    overflow-x: hidden;
    font-family: montserrat;
    align-items: center;
    touch-action: pan-y;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    body {
        background-position: center;
    }
}
#home-body {
    background-image: url(./ArtAssets/elements/heroBackground.png);
    background-size: cover;
}
h1 {
    display: flex;
    font-family: montserrat;
    font-size: 32px;
    color: #296610;
    margin: 10px;
}
h2 {
    display: flex;
    font-family: montserrat;
    color: #296610;
    margin: 0;
}
p {
    display: flex;
    margin: 0;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
}
.dividing-line {
    height: 2px;
    width: 80%;
    background-color: #296610;
    margin-bottom: 20px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .dividing-line {
       width: 270px;
    }
}
header {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: #f7f7ed;
    box-shadow: 5px 5px 20px #0000005d;
    top: 0;
    height: 75px;
    width: 100%;
    z-index: 9999;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    header {
        height: 175px;
        width: 100%;
    }
}

#header-contents {
    display: flex;
    position: fixed;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 75px;
    z-index: 9999;

}
/*Mobile */
@media only screen and (max-width: 850px) {
    #header-contents {
        width: 100vw;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #header-contents {
        display: none;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #header-contents-mobile {
        width: 100%;
    }
}
#header-logo {
    height: 80%;
    margin-left: 20px;
    cursor: pointer;
}
/*Mobile */
@media only screen and (max-width: 850px) {
    #header-logo {
        height: 60%;
    }
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    font-family: montserrat;
    margin-right: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
nav li {
    height: 100%;
    align-items: center;
}
nav a {
    color: #231507;
    text-decoration: none;
}
nav a:hover {
    color: #218326;
}
nav a:active {
    color: #155d19;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #nav1 {
        display: none;
    }
}
#header-contents-mobile {
    display: none;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #header-contents-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #header-contents-mobile img {
        position: absolute;
        height: 75%;
        top: 13%;
    }
}
#mobile-menu-icon {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    right: 3%;
    top: 5%;
}
#mobile-menu-container {
    display: none;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #mobile-menu-icon {
      display: flex;  
    }
}
#mobile-menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    background-color: #f7f7ed;
    height: 145px;
    width: 120px;
    right: -2%;
    top: 36%;
    border: solid 2px #7c746b;
    border-radius: 5px;
}
#mobile-menu li {
    display: flex;
    list-style: none;
    height: auto;
}


/*=======================================================================*/

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-top: 20px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    footer {
        height: 100px;
        margin-top: 30px;
    }
}
#index-footer {
    background-image: url(./ArtAssets/elements/footerBackground.png);
    background-size: cover;
}
footer div {
    height: 20px;
    width: 25%;
    font-size: 10pt;
    margin-top: 140px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    footer div {
        font-size: 8pt;
        margin-top: 20px;
    }
}
#footer-text {
    width: 40%;
}
.moose-footer-img {
    display: flex;
    position: absolute;
    height: 600px;
    width: 100vw;
    background-image: url(./ArtAssets/elements/MooseFooterImg.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .moose-footer-img {
        height: 330px;
    }
}
#moose-footer-gardening {
    bottom: -130%;
}
/*Mobile */
@media only screen and (max-width: 850px) {
    #moose-footer-gardening {
        bottom: -1850PX;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #moose-footer-gardening {
        bottom: -1880px;
    }
}
#moose-footer-contact {
    bottom: -4%;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #moose-footer-contact {
        bottom: -32%;
    }
}
/*=======================================================================*/



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 75px auto 0px auto; 
    padding: 0; 
}

/*Tablet */
@media only screen and (max-width: 1199px) and (min-width: 768px) {
    main {

    }
}

/*Mobile */
@media only screen and (max-width: 500px) {
    main {
        max-width: 400px;
    }
}



/*==========================================ABOUT PAGE==============================================*/


#meet-the-moose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #meet-the-moose {
        width: 90%;
        height: 1000px;
        margin-top: 220px;
    }
}
#meet-the-moose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.bio-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .bio-container{
        flex-direction: column;
    }
}
.meet-the-moose-bio {
    display: block;
    height: 600px;
    width: 450px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .meet-the-moose-bio {
        height: 400px;
        width: 100%;
    }
}
#meet-the-moose-blurb {
    text-indent: 20px;
    line-height: 1.7;
    text-align: center;
}


/*==================================GARDENING/FLORAL PAGES=====================================*/



#hero {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 75vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #hero {
        height: 100vh;
    }
}
#hero-intro {
    height: 150px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #hero-intro {
        height: 70px;
    }
}
/*Mobile */
@media only screen and (max-width: 420px) {
    #hero-intro {
        display: none;
    }
}
#hero-intro-mobile {
    display: none;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #hero-intro-mobile {
        display: flex;
        height: 130px;
        margin-top: 70px;
    }
}
#hero-content {
    display: flex;
    position: relative;
    height: 40%;
    width: 80%;
    align-items: center;
    justify-content: center;
}

/*Mobile */
@media only screen and (max-width: 500px) {
    #hero-content {
        flex-direction: column;
        height: 60%; 
        margin-top: 20px;          
    }
}
#hero-content img {
    height: 300px;
    margin: 20px;
    cursor: pointer;
}
/*Mobile */
@media only screen and (max-width: 850px) {
    #hero-content img {
        height: 180px;  
        margin: 70px 0 0 0px;       
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #hero-content img {
        height: 240px;  
        margin: -10px;       
    }
}

.headline {
    height: 30px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .headline {
        height: 24px;
        margin-left: 25px;
    }
}
.text {
font-size: 14pt;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .text {
        font-size: 12pt;
    }
}

/*=======================================================================*/



#value-propositions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 500px;
    z-index: 100;
    margin-top: 500px;
}
/*Mobile */
@media only screen and (max-width: 850px) {
    #value-propositions {
        margin-top: 100px;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #value-propositions {
        display: none;
    }
}
#value-propositions-mobile {
    display: none;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #value-propositions-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        height: 90vh;
        z-index: 100;
        margin-top: 35vh;
    }
}
.value-prop-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 25%;
    cursor: pointer;
}
#value-propositions img {
    width: 350px;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #value-propositions img {
        display: none;
    }
}
/*Mobile */
@media only screen and (max-width: 850px) {
    #value-propositions img {
        width: 220px;
    }
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .value-prop-container-mobile img {
        width: 350px;
    }
}

/*=======================================================================*/


.content-container {
    font-family: montserrat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 600px;
    width: 90%;
}
/*Mobile */
@media only screen and (max-width: 850px) {
    .content-container {
        height: 400px;
        width: 80%;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    .content-container {
        flex-direction: column-reverse;
        width: 90%;
        height: 600px;
        margin-top: 50px;
    }
}
.content {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;

}
.content img {
    align-self: flex-start;
}
.text {
    text-indent: 20px;
    line-height: 2;
    text-align: center;
    margin-bottom: 50px;
}



/*=======================================================================*/

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    height: auto;
    width: 100px;
    margin: 20px 0 0 0;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .gallery-item {
        width: 160px;
        margin: 15px 0 0 0;
    }
}
.gallery-item img {
    width: 100%;
    height: auto;
}
.gallery-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-description button {
    height: 50px;
    width: 150px;
}





/*==========================================GARDENING PAGE==============================================*/


#gardening-hero {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    box-sizing: border-box;
    height: 900px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url(./ArtAssets/elements/gardeningHeroImage.png);
    background-size: cover;
    background-position: center;
}
/*Mobile */
@media only screen and (max-width: 850px) {
    #gardening-hero {
        height: 80vh;
        top: 15%;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #gardening-hero {
        height: 32vh;
        top: 17%;
    }
}
/*Mobile */
@media only screen and (max-width: 390px) {
    #gardening-hero {
        height: 37vh;
        top: 25%;
    }
}

#gardening-hero-content {
    display: flex;
    position: absolute;
    top: 30%;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #gardening-hero-content {
        width: 90%;
        top: 20%;
    }
}
.gardening-headline {
    height: 130px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .gardening-headline {
        width: 90%;
    }
}
#gardening-image1 {
    height: 350px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #gardening-image1 {
        height: 180px;
    }
}
/*==============================GARDENING GALLERY=========================================*/
#item-g1 {
    background-image: url(./ArtAssets/images/gardening/Gardening4.png);
    background-position: 30% 70%;
    background-size: 220%;
}
#item-g2 {
    background-image: url();
    background-position: 0% 60%;
    background-size: 120%;
}
#item-g3 {
    background-image: url();
    background-position: 20% 80%;
    background-size: 140%;
}
/*==========================================EXPERT TIP==============================================*/



#expert-tip {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px #0000005d;
}
/*Mobile */
@media only screen and (max-width: 850px) {
    #expert-tip {
        width: 100%;
        height: 350px;   
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #expert-tip {
        width: 90%;
        height: 450px;   
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #tip-container1 {
        margin: 30px 0 0 0;
        justify-content: center;
        align-items: center;
    }
}
#tip-container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: -10px 0 40px 0;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #tip-container2 {
        display: flex;
        width: 100%;
        height: 400px; 
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0 0 40px 0; 
         
    }
}
#tip-container2 p {
    max-width: 550px;
    line-height: 2;
    text-align: center;
    margin: 10px;
}
#flower-bucket {
    height: 250px;
    margin-left: 50px;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #flower-bucket {
        height: 220px;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #flower-bucket {
        height: 140px;
        width: 180px;
        margin-left: 0px;
        margin-bottom: 15px;
    }
}


/*==========================================SET UP CONSULTATION==============================================*/


.set-up-consultation {
    display: flex;
    position: absolute;
    width: 313px;
    height: 53px;
    left: 50%;
    transform: translate(-50%,10%);
    border-radius: 15px;
    background-color: #2094af;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: montserrat;
    color: white;
    cursor: pointer;
    z-index: 200;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    .set-up-consultation {
        width: 250px;
        height: 42px;
        border-radius: 10px;
        font-size: 20px;
        transform: translate(-50%,-80%);
    }
}

.set-up-consultation-dropdown {
    display: flex;
    width: 313px;
    height: 53px;
    border-radius: 15px;
    background-color: #2094af;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: montserrat;
    color: white;
    margin: 15px 0 15px 0;
    cursor: pointer;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .set-up-consultation-dropdown {
        width: 250px;
        height: 42px;
        border-radius: 10px;
        font-size: 20px;
    }
}


/*==========================================FENCE==============================================*/


#fence {
    display: flex;
    position: absolute;
    height: 200px;
    width: 100vw;
    top: 1900px;
    background-image: url(./ArtAssets/elements/fence.png);
    background-size: cover;
    background-position: center;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #fence {
        display: none; 
    }
}

/*==========================================SEE OUR STUFF==============================================*/


#see-our-stuff {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 100%;
    top: 3000px;
    justify-content: center;
    align-items: center;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #see-our-stuff {
        width: 90%;
        height: 750px;   
    }
}
#gallery-preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #gallery-preview-container {
    max-width: 100%;
    }
}
.gallery-item {
    display: flex;
    height: 350px;
    width: 350px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .gallery-item {
    height: 167px;
    width: 167px;
    }
}

/*==========================================FEATURED SERVICES==============================================*/


#featured-services {
    display: flex;
    height: 500px;
    width: 105vw;
    background-color: white;
    box-shadow: 5px 5px 20px #0000005d;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #featured-services {
        height: 200px;   
    }
}

/*==========================================TESIMONIALS==============================================*/

#testimonials {
    height: 600px;
    width: 90%;
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #testimonials {
        height: 300px;   
    }
}


/*==========================================FLORIST==============================================*/


#florist-hero {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    box-sizing: border-box;
    height: 900px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url(./ArtAssets/images/florist/WebRdy/FloralHero.png);
    background-size: cover;
    background-position: center;
}
/*Mobile */
@media only screen and (max-width: 850px) {
    #florist-hero {
        height: 60vh;
        top: 20%;
        background-position: 56%;
    }
}
/*Mobile */
@media only screen and (max-width: 500px) {
    #florist-hero {
        height: 40vh;
        top: 17%;
        background-position: 56%;
    }
}
/*Mobile */
@media only screen and (max-width: 390px) {
    #florist-hero {
        height: 40vh;
        top: 25%;
        background-position: 56%;
    }
}
#florist-hero-content {
    display: flex;
    position: absolute;
    top: 30%;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #florist-hero-content {
        width: 90%;
        top: 20%;
    }
}
.florist-headline {
    height: 130px;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    .florist-headline {
        margin-top: 10px;
        width: 90%;
        height: auto;
    }
}



/*=============================================DROPDOWNS===========================================*/


/* Set default styles for dropdowns */
.dropdown {
    display: flex;
    position: absolute;
    top: -250%; /* Initially hide the dropdowns */
    width: 80%;
    max-width: 1200px;
    height: auto;
    background-color: white;
    z-index: 200;  
    border-radius: 20px;
    transition: top 1.5s ease; /* Transition for smooth movement */
    box-shadow: 5px 5px 20px #0000005d;
}

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {
    .dropdown { 
        top: -350%;
        height: auto;
        width: 100%;
        max-width: 400px;
    }
}
.dropdown-header {
    display: flex;
}
.toggle-button {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 30px; /* Adjust size as needed */
    height: 30px;
    background-image: url(./ArtAssets/elements/Xicon.svg); /* Replace with your toggle button icon */
    background-size: cover;
    cursor: pointer;
}

.dropdown-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 120px;
    height: 85%;
    width: 100%;
    margin-bottom: 50px;
}
@media only screen and (max-width: 850px) {
    .dropdown-contents { 
        height: 63%;
        width: 100%;
        margin-top: 100px;
    }
}
@media only screen and (max-width: 500px) {
    .dropdown-contents { 
        height: 63%;
        width: 100%;
        margin-top: 180px;
    }
}

.dropdown-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 20px 0;
}
@media only screen and (max-width: 767px) {
    .dropdown-gallery { 
        width: 100%;
    }
}
.dropdown-gallery-words-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 10px 0 0 0px;
}
@media only screen and (max-width: 767px) {
    .dropdown-gallery-words-container{
        width: auto;
    }
}
.dropdown-gallery-header {
    display: flex;
    font-size: 14px;
    margin: 0 0 10px 0;
}
.dropdown-gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .dropdown-gallery-item {
        flex-direction: column; 
        width: 100%;
        height: auto;
    }
}
.dropdown-image {
    display: flex;
    height: 300px;
    width: 500px;
}
@media only screen and (max-width: 767px) {
    .dropdown-image { 
        height: 150px;
        width: 100%;
    }
}
.dropdown-blurb {
    font-size: 12pt;
}


/*==========================================IMAGES==============================================*/


#img-small-bouquet {
    background-image: url(./ArtAssets/images/florist/WebRdy/SmallBouquet2.png);
    background-size: 100%;
    background-position: 50% 0%;
}
#img-medium-bouquet {
    background-image: url(./ArtAssets/images/florist/WebRdy/MediumBouquet1.png);
    background-size: 130%;
    background-position: 50% 30%;
}
#img-large-bouquet {
    background-image: url(./ArtAssets/images/florist/Stock/largeBouquet.png);
    background-size: 110%;
    background-position: 50% 40%;
}

@media only screen and (max-width: 767px) {
    #img-small-bouquet {
        background-image: url(./ArtAssets/images/florist/WebRdy/SmallBouquet2.png);
        background-size: 100%;
        background-position: 50% 20%;
    }
    #img-medium-bouquet {
        background-image: url(./ArtAssets/images/florist/WebRdy/MediumBouquet1.png);
        background-size: 115%;
        background-position: 50% 30%;
    }
    #img-large-bouquet {
        background-image: url(./ArtAssets/images/florist/Stock/largeBouquet.png);
        background-size: 110%;
        background-position: 50% 55%;
    }
}



#img-small-centerpiece {
    background-image: url(./ArtAssets/images/florist/Stock/small\ centerpiece.png);
    background-size: 100%;
    background-position: 50% 50%;
}
#img-medium-centerpiece {
    background-image: url(./ArtAssets/images/florist/WebRdy/smallCenterpiece1.jpg);
    background-size: 110%;
    background-position: 50% 50%;
}
#img-large-centerpiece {
    background-image: url(./ArtAssets/images/florist/WebRdy/MediumCenterpiece1.png);
    background-size: 100%;
    background-position: 50% 40%;
}

@media only screen and (max-width: 767px) {
    #img-small-centerpiece {
        background-image: url(./ArtAssets/images/florist/Stock/small\ centerpiece.png);
        background-size: 110%;
        background-position: 50% 50%;
    }
    #img-medium-centerpiece {
        background-image: url(./ArtAssets/images/florist/WebRdy/smallCenterpiece1.jpg);
        background-size: 100%;
        background-position: 50% 30%;
    }
    #img-large-centerpiece {
        background-image: url(./ArtAssets/images/florist/WebRdy/MediumCenterpiece1.png);
        background-size: 100%;
        background-position: 50% 30%;
    }
}

#img-coursages {
    background-image: url(./ArtAssets/images/florist/WebRdy/Coursage1.png);
    background-size: 110%;
    background-position: 75% 45%;
}
#img-boutonniere {
    background-image: url(./ArtAssets/images/florist/Stock/boutoniere.jpg);
    background-size: 180%;
    background-position: 70% 65%;
}
#img-custom {
    background-image: url(./ArtAssets/images/florist/Custom/custom1.png);
    background-size: 140%;
    background-position: 40% 03%;
}

@media only screen and (max-width: 767px) {
    #img-coursages { 
        background-size: 100%;
        background-position: 90% 52%;
    }
    #img-boutonniere {
        background-size: 140%;
        background-position: 80% 62%;
    }
    #img-custom {
        background-size: 100%;
        background-position: 40% 4%;
    }
}


/*==========================================CONTACT==============================================*/


#contact {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 100%;
}
/*Mobile */
@media only screen and (max-width: 767px) {
    #contact { 
        margin-top: 100px;        
    }
} 
#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
#contact-container button {
    height: 70px;
    width: 150px;
    border-radius: 10px;
}

